#home {
  font-style: italic;
  height: 100%;

}

#home-container {
	height: 100%;
	width: 90%;
	padding-top: 5px;
}

#top {
	width: 90%;
	height: 47% !important;
}

#bottom {
	width: 90%;
	height: 47% !important;
}

.highlight {
	background-color: #f27935;
}

#panic-button {
    height: 80%;
    padding-left: 40%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/Home screen panic button.png");
	padding-top: 10%;
}
#message-button {
    height: 80%;
    padding-left: 40%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/Inboxicon_large.png");
	padding-top: 10%;
}
