<h1>DiscardConfirm</h1>

<div id="discardconfirm-container">
    <div id="top" class="highlight">
        <div id="yes-button">
            <p>YES</p>
        </div>
    </div>
    <div id="bottom">
        <div id="no-button">
            <p>NO</p>
        </div>
    </div>
</div>
