<div id="action-container">
	 <div id="text-container">
			What do you want to do?
		</div>
	<div id="top" class="highlight2">
		<div id="rsvp-button">
			RSVP
		</div>
	</div>
	<div id="bottom">
		<div id="discard-button">
			DISCARD
		</div>
	</div>
</div>
