<div id="rsvp-container">
	 <div id="text-container">
			Do you want to attend?
		</div>
	<div id="top" class="highlight2">
		<div id="yes-button">
			YES
		</div>
	</div>
	<div id="bottom">
		<div id="no-button">
			NO
		</div>
	</div>
</div>
